.navbar {
    background-color: #8a4384;
    font-family: 'Open Sans', sans-serif;
  }
  
  .navbar-brand {
    color: white;
    cursor: default;
  }
  
  #btncompetitions,
  #btnCompetitions {
    color: white;
  }
  
  #btncompetitions:hover,
  #btnCompetitions:hover {
    font-size: 1.05rem;
  }
  
  #btncompetitions:active,
  #btnCompetitions:active {
    font-size: 1rem;
  }