.jumbotron {
    background-image: url("https://static01.nyt.com/images/2019/12/06/books/06critics-list1/06critics-list1-superJumbo.jpg?quality=90&auto=webp");
    opacity: 0.75;
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px !important;
    width: 100%;
    padding-top: 10;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0;
    /* margin-top: -6vh; */
  }
  
  .jumboTitle,
  .jumboText {
    text-shadow: 2px 3px 4px #000000;
  }