* {
  font-family: 'Open Sans', sans-serif;
  color: #8a4384;
  }
  
.card {
  width: 100%;
  padding-bottom: 2vh;
  border: 2px solid #8a4384;
}

.card-image {
  padding-left: 5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.card-title {
  font-family: 'Open Sans', sans-serif;
  color: #8a4384;
}


.saveBook {
  background-color: #608773;
  color: white;
}

.saveBook:hover {
  background-color: #608773;
  color: white;
  font-size: 1.05rem;
}

.saveBook:active {
  background-color: #608773 !important;
  color: white !important;
  font-size: 1rem;
}

.viewcompetitionsBtn {
  background-color: #C47E9E !important;
  color: white;
}

.viewcompetitionsBtn:hover {
  background-color: #C47E9E !important;
  color: white;
  font-size: 1.05rem;
}

.viewcompetitionsBtn:active {
  background-color: #C47E9E !important;
  color: white !important;
  font-size: 1rem;
}